@import "tailwindcss";

:root {
  --primary-color: #60a09b;
  --secondary-color: #8e82b4;
  --accent-color: #fac6b1;
  --bg-color-light: #fefef2;
  --text-color-light: #213547;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: var(--secondary-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 50px; /* Really round button */
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #fff; /* White text on the button */
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}

button:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

